<h1>Hello World</h1>
<form action="/submit-data" method="post" enctype="multipart/form-data">
  <label for="uploadedFile">Upload File</label>
  <input type="file" name="uploadedFile" id="uploadedFile">
  <button type="submit">Upload</button>
</form> 